In [1]:
import numpy as np
import pandas as pd
import geopandas as gp

In [2]:
fn1 = '../data/SMU_heat_flow_database_full.csv'
fn2 = '../GIS_data/global_hf_NA.csv'

In [3]:
df1 = pd.read_csv(fn1)
df2 = pd.read_csv(fn2)

In [4]:
df1.columns.tolist()

['id',
 'uuid',
 'name',
 'site_name',
 'other_location_name',
 'api',
 'latitude',
 'longitude',
 'state_id',
 'state',
 'state_code',
 'county',
 'county_id',
 'bht',
 'max_temperature',
 'depth',
 'shape',
 'datasource',
 'thermal_conductivity',
 'heat_flow',
 'precision_log_source_id']

In [8]:
df2.head()

,OBJECTID,Data_Numbe,Codes,Site_Name,Latitude,Longitude,Elevation,minD,maxD,No__Temps,...,No__Cond_,Conductivi,No_Heat_Pr,Heat_Prod_,Heat_Flow,No__sites,Year_of_Pu,Reference,Comments,Comments2
0,6,1,<null>,SMU-KG2,44.4637,-111.7322,1987.0,28.0,66.0,0.0,...,2.0,1.88,<null>,<null>,0.0,<null>,1983.0,Brott_etal1983,Williams_etal1995,<null>
1,7,2,<null>,SMU-SP3,44.3278,-112.2128,1795.0,10.0,99.0,0.0,...,5.0,2.06,<null>,<null>,0.0,<null>,1983.0,Brott_etal1983,Brott_etal1983,<null>
2,8,3,<null>,SMU-SP2,44.3678,-112.1432,1859.0,25.0,70.0,0.0,...,5.0,1.67,<null>,<null>,0.0,<null>,1983.0,Brott_etal1983,Brott_etal1983,<null>
3,9,4,<null>,SMU-KG1,44.4023,-111.9407,1945.0,25.0,90.0,0.0,...,7.0,2.22,<null>,<null>,0.0,<null>,1983.0,Brott_etal1983,Brott_etal1983,<null>
4,10,5,<null>,SMU-LHS2,44.2310,-112.6583,1868.0,13.0,143.0,0.0,...,10.0,2.22,<null>,<null>,0.0,<null>,1983.0,Brott_etal1983,Brott_etal1983,<null>

In [9]:
df2['longitude'] = df2['Longitude']
df2['latitude'] = df2['Latitude']
df2['heat_flow'] = df2['Heat_Flow']

cols = ['longitude', 'latitude', 'heat_flow']
df1 = df1[cols]
df2 = df2[cols]

dm = pd.concat([df1, df2])
print('number of HF data = %i' % (len(dm)))

dm.loc[dm['heat_flow'] <= 0.0, 'heat_flow' ] = np.nan
#dm.loc[dm['heat_flow'] < -99999.0, 'heat_flow' ] = np.nan

dm2 = dm.dropna(subset=cols)

print('number of HF data = %i' % (len(dm2)))

dm3 = dm2.drop_duplicates()
print('number of HF data = %i' % (len(dm3)))

number of HF data = 984751
number of HF data = 84357
number of HF data = 61753

In [10]:
gd = gp.GeoDataFrame(dm3, geometry=gp.points_from_xy(dm3['longitude'], dm3['latitude']))
#gd2 = gp.GeoDataFrame(df2, geometry=gp.points_from_xy(df2['longitude'], df2['latitude']))

In [11]:
gd.to_file('../GIS_data/heat_flow_NA_merged.shp')
gd.to_csv('../data/heat_flow_NA_merged.csv')

In [12]:
gd_filtered = gd.iloc[::10]

In [13]:
gd_filtered.to_file('../GIS_data/heat_flow_NA_selected.shp')